<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanxinjie.mapper.ProductMapper">

		<select id="login" resultType="com.yuanxinjie.pojo.User">
			SELECT
				username,password
			FROM
				user
			WHERE 
				username =#{username} and password = #{password}
		</select>
 
</mapper>
